ACTION!="add|change", GOGO="headset_end"

# SteelSeries ACTIS 7 (2019)
KERNEL=="hidraw*", SUBSYSTEM=="hidraw", ATTRS{idVendor}=="1038", ATTRS{idProduct}=="12ad", TAG+="uaccess"

LABEL="headset_end"
